<?xml version="1.0" encoding="utf-8" ?>
<example>
	<description>
		<![CDATA[Demonstrates how to get data using ObjectDataSource.]]>
	</description>
	<include>
		<file zip="false" url="../../../../Code/Northwind/EntitiesAdditions.cs" />
	</include>
	<zip-folders>
		<folder url="../../../../Code/Northwind/"></folder>
	</zip-folders>
</example>
