/*  Fonts
    -----------------------------------------------------------------------------------------------*/

@font-face {
    font-family: Poppins;
    font-weight: "400";
    font-style: normal;
    src: local("Poppins Regular"), local("Poppins-Regular"), url(/resources/fonts/Poppins-Regular.ttf) format("truetype")
}

@font-face {
    font-family: Poppins;
    font-weight: 600;
    font-style: normal;
    src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url(/resources/fonts/Poppins-SemiBold.ttf) format("truetype")
}

html body {
    padding: 30px;
    font-family: Poppins, sans-serif;
    color: #222222;
    font-size: 15px;
}

p {
    margin-bottom: 15px;
    font-size: 15px;
}

blockquote {
    padding-left: 30px;
}

h1,
h2,
h3,
h4 {
    color: #1f1f26;
    line-height: 1.2;
}

h1 {
    font-size: 36px;
    margin-bottom: 36px;
}

h2 {
    font-size: 28px;
    margin-bottom: 28px;
}

h3 {
    font-size: 24px;
    margin-bottom: 24px;
}

h4 {
    font-size: 18px;
    margin-bottom: 18px;
}

li ol li {
    margin-left: 24px;
}

.vid {
    margin-bottom: 24px;
}

code {
    border: 1px solid #e5e5e5;
    padding: 2px 4px;
    margin: 0 2px 0 1px;
    background-color: #f2f2f2;
    color: #0077aa;
    font-family: Consolas, monospace;
    font-size: 90%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

pre {
    font-family: Consolas, monospace;
}

pre.code {
    border: 1px solid #e5e5e5;
    padding: 10px;
    margin: 10px;
    margin-left: 0px;
    background-color: #f7f7f7;
    color: #045D87;
    font-family: Consolas, monospace;
    font-size: 15px !important;
    line-height: 19px !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.example-info {
    width       : 150px;
    border      : 1px solid #E5E5E5;
    background  : #ffffff url( info-bg.gif ) repeat-x;
    font-size   : 11px;
    padding     : 8px;
}

.msg .x-box-mc {
    font-size : 14px;
}

#msg-div {
    position : absolute;
    left     : 35%;
    top      : 10px;
    width    : 250px;
    z-index  : 20000;
}

.x-grid3-row-body p { margin : 5px 5px 10px 5px !important; }

.sandbox-wrapper { padding : 12px; }

.sandbox-toolbar {
    text-align       : right;
    display          : block;
    border           : none;
    padding          : 4px;
    background-color : #F2F2F2;
    border-bottom    : 1px solid #0589C7;
}

.sandbox-toolbar table { display : inline; }


/*  Icons
    -----------------------------------------------------------------------------------------------*/

div.information {
   border       : 1px solid #0589C7;
   padding      : 8px 12px 0px 12px;
   padding-left : 36px;
   background   : #F2F2F2 url(../../icons/information-png/ext.axd) no-repeat 10px 10px;
   margin       : 12px 0px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

p {
    padding        : 0px;
    margin         : 0px;
    line-height    : 20px;
    padding-bottom : 12px;
}

ol.expanded li { line-height : 25px; }

ol.expanded {
    list-style-type : decimal;
    padding-left    : 40px;
}

/*  Docs
    -----------------------------------------------------------------------------------------------*/

.doc-member, .doc-prop {
    font-weight : bold;
}

.doc-item {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    padding : 10px;
}

.doc-item strong {
    font-weight : bold;
}

.doc-desc, .doc-params {
    padding : 8px;
}

.doc-params strong {
    font-size : 12px;
}

.doc-params ul {
    margin          : 4px;
    list-style-type : disc;
    padding-left    : 25px;
}

.doc-params ul li {
    margin-bottom : 5px;
}

.doc-optional {
    font-family: Consolas, monospace;
}

/*  Aria theme specific styles
    -----------------------------------------------------------------------------------------------*/

.x-theme-aria html body {
    color: #f2f2f2;
}