body {
    margin: 20px;
}

h1 {
    margin-bottom: 15px;
    font-size: 16px;
}

.app-header {
    text-align: center;
    font-family: arial;
}

.app-center .x-panel-header {
    font-size    : 13px;
    text-align   : center;
    padding-left : 178px;
    font-family  : helvetica, arial, sans-serif;
    color        : #455C6F;
}

.app-west {
    border-right : 1px solid #99BBE8;
}

.app-west .x-panel-body {
    background : #D0DEF0;
}

.app-header-content h1 {
    float     : left;
    margin    : 8px 5px;
    font-size : 18px;
    color     : #455C6F;
}

#app-logo {
    float  : left;
    margin : 5px 10px;
    width  : 30px;
}

#app-logo .logo-top,
#app-logo .logo-bottom {
    height   : 0;
    overflow : hidden;
    margin   : 0 1px;
    border-color     : #9F2727;
    border-top-width : 1px;
    border-top-style : solid;
}

.ext-border-box #app-logo .logo-top,
.ext-border-box #app-logo .logo-bottom {
    height : 1px;
}

#logo-body {
    margin       : 0;
    text-align   : center;
    overflow     : hidden;
    border-width : 3px 1px 0;
    border-style : solid;
    border-color : #9F2727;
    background   : #fff;
    font-weight  : bold;
    padding      : 1px 0 2px;
    font-size    : 18px;
    line-height  : 18px;
    color        : #455C6F;
}

#app-msg {
    color         : #c8a52e;
    padding       : 2px 10px;
    font-weight   : bold;
    font-size     : 13px;
    border-radius : 3px;
    -moz-border-radius    : 3px;
    -webkit-border-radius : 3px;
}

.event {
    margin  : 8px 12px;
    border  : solid 1px #999;
    background-color : #EFEFEF; 
}

.event table {
    width : 100%;
}

.event caption {
    color   : #fff;
    padding : 3px;
    font-weight      : bold;
    background-color : #999;
}

.event th, .event td {
    padding : 2px 5px;
}

.event th {
    width       : 100px;
    font-weight : bold;
}