<?xml version="1.0" encoding="utf-8" ?>
<example>
  <order>
    <folder name="Getting_Started" />
    <folder name="Kitchen_Sink" />
  </order>

  <new version="5.2.0">
    <folder name="GridPanel\FilterHeader\Infinite_Remote_Sql" />
    <folder name="GridPanel\FilterHeader\Buffered_Local_Sql" />
  </new>

  <updated version="5.2.0">
    <folder name="Chart\Bar\Mixed" />
    <folder name="XRender\UserControl\Lazy_Load" />
    <folder name="Window\Toast\Playground" />
    <folder name="Window\Basic\Window_Variations" />
    <folder name="Viewport\Basic\Built_in_Markup" />
    <folder name="TreePanel\Loaders\WebService" />
    <folder name="TreePanel\List\Overview" />
    <folder name="TreePanel\Basic\SiteMap" />
    <folder name="TreePanel\Advanced\Image_Organizer" />
    <folder name="Toolbar\Menu\Toolbar_ButtonGroup" />
    <folder name="Toolbar\Menu\MenuPanel" />
    <folder name="Toolbar\Menu\Layout_Toolbar" />
    <folder name="Toolbar\Menu\Horizontal_Menu" />
    <folder name="Toolbar\Menu\Controls_In_Menu" />
    <folder name="TaskManager\Basic\Overview" />
    <folder name="TabPanel\Basic\TabBar_Config" />
    <folder name="TabPanel\Basic\Move_Tabs" />
    <folder name="TabPanel\Basic\Add_Tabs" />
    <folder name="SignalR\Basic\StockTicker" />
    <folder name="Portal\Basic\Simple" />
    <folder name="Portal\Basic\Deluxe" />
    <folder name="Miscellaneous\UI\Tip" />
    <folder name="Miscellaneous\UI\Panel" />
    <folder name="Miscellaneous\Template_Widget\Rendering" />
    <folder name="Miscellaneous\Template_Widget\Overview" />
    <folder name="Miscellaneous\Spotlight\Overview" />
    <folder name="Miscellaneous\Spotlight\Ajax_Overview" />
    <folder name="Miscellaneous\Responsive\Basic" />
    <folder name="Miscellaneous\Mouse_Distance_Sensor\Events" />
    <folder name="Miscellaneous\Mouse_Distance_Sensor\Basic" />
    <folder name="Miscellaneous\Image\Resizable" />
    <folder name="Miscellaneous\Bin_HtmlBin\UserControl" />
    <folder name="Miscellaneous\Bin_HtmlBin\Overview" />
    <folder name="MessageBus\Basic\Simple" />
    <folder name="MessageBus\Basic\Complex" />
    <folder name="MessageBox\InfoPanel\Standard_Queues" />
    <folder name="MessageBox\Callout\Overview" />
    <folder name="MessageBox\Badge\Overview" />
    <folder name="MessageBox\Badge\Hidden_Container" />
    <folder name="MessageBox\Badge\Custom_Appearance" />
    <folder name="Loaders\Component\JSON_WebService" />
    <folder name="Loaders\Component\Http_Handler" />
    <folder name="Loaders\Component\Direct_Method" />
    <folder name="Layout\VBoxLayout\VBox_Form" />
    <folder name="Layout\VBoxLayout\Rows" />
    <folder name="Layout\VBoxLayout\Basic" />
    <folder name="Layout\TableLayout\Simple_in_Markup" />
    <folder name="Layout\HBoxLayout\HBox_Form" />
    <folder name="Layout\HBoxLayout\Basic" />
    <folder name="Layout\FormLayout\With_UserControls" />
    <folder name="Layout\FormLayout\Overview" />
    <folder name="Layout\FormLayout\Login" />
    <folder name="Layout\FormLayout\Field_Options" />
    <folder name="Layout\ColumnLayout\Basic" />
    <folder name="Layout\Center\Basic" />
    <folder name="Layout\BorderLayout\Simple_in_Markup" />
    <folder name="Layout\BorderLayout\Region_Weights" />
    <folder name="Layout\BorderLayout\Complex_in_Markup" />
    <folder name="Layout\BorderLayout\Collapsed_Region_Image" />
    <folder name="Layout\AnchorLayout\Anchor_With_Form" />
    <folder name="Kitchen_Sink\GridPanels\Reconfigure_GridPanel" />
    <folder name="Kitchen_Sink\GridPanels\Property_GridPanel" />
    <folder name="Kitchen_Sink\Forms\Contact" />
    <folder name="Keys\KeyMap\Map_Inside_Component" />
    <folder name="Keys\KeyMap\BorderLayout_Regions_Toggle" />
    <folder name="GridPanel\Update\SqlDataSource" />
    <folder name="GridPanel\Saving_Variations\WebService" />
    <folder name="GridPanel\Saving_Variations\StoreEvents" />
    <folder name="GridPanel\Saving_Variations\StoreCustomLogic" />
    <folder name="GridPanel\Saving_Variations\HttpHandler" />
    <folder name="GridPanel\Miscellaneous\Two_Grids" />
    <folder name="GridPanel\Miscellaneous\Submit_to_Handler" />
    <folder name="GridPanel\Miscellaneous\Grouping_TotalRow" />
    <folder name="GridPanel\Miscellaneous\Grid_TotalRow" />
    <folder name="GridPanel\Infinite_Scrolling\Tuner" />
    <folder name="GridPanel\FilterHeader\Custom_Field" />
    <folder name="GridPanel\Data_with_Details\One-to-Many" />
    <folder name="GridPanel\Data_with_Details\Form_Details" />
    <folder name="GridPanel\Data_with_Details\Binding" />
    <folder name="GridPanel\ComponentColumn\Overview" />
    <folder name="GridPanel\ColumnModel\Change_Models" />
    <folder name="GridPanel\ArrayGrid\Remote_Load" />
    <folder name="GridPanel\ArrayGrid\ForceFit" />
    <folder name="GridPanel\ArrayGrid\DirectEvent_Creation" />
    <folder name="Getting_Started\Introduction\Component_Overview" />
    <folder name="Form\Triggers\Overview" />
    <folder name="Form\TextField\InputMask_Native" />
    <folder name="Form\TextField\Advanced_Password_Mask" />
    <folder name="Form\Tag\TagLabel" />
    <folder name="Form\Tag\TagField" />
    <folder name="Form\MultiSelect\Submit_Data" />
    <folder name="Form\MultiSelect\Overview" />
    <folder name="Form\MultiSelect\ItemSelector" />
    <folder name="Form\Miscellaneous\Data_Binding" />
    <folder name="Form\Miscellaneous\Custom_Form" />
    <folder name="Form\Miscellaneous\Checkout_Form" />
    <folder name="Form\Groups\Basic" />
    <folder name="Form\FormPanel\Validation" />
    <folder name="Form\FormPanel\Basic" />
    <folder name="Form\FieldContainer\Overview" />
    <folder name="Form\DropDownField\Overview" />
    <folder name="Form\DisplayTime\DataView" />
    <folder name="Form\DateField\Overview" />
    <folder name="Form\ComboBox\Items_Actions" />
    <folder name="Events\DirectEvents\Duration_Messages" />
    <folder name="Editor\Basic\Overview" />
    <folder name="Draw\Basic\Logos" />
    <folder name="Draw\Basic\Australia" />
    <folder name="Draw\Basic\Animation_Playground" />
    <folder name="Draw\Basic\Actions" />
    <folder name="DragDrop\Panel\Swap_Dropable_Panel" />
    <folder name="DragDrop\Panel\Dropable_Panel" />
    <folder name="DragDrop\Grid\Grid_to_Tree" />
    <folder name="DragDrop\Grid\Grid_to_FormPanel" />
    <folder name="DragDrop\Advanced\Example3" />
    <folder name="DragDrop\Advanced\Drag_with_State" />
    <folder name="DragDrop\Advanced\Checkbox_Selector" />
    <folder name="Data_Binding\Basic\Two_Way_Formulas" />
    <folder name="Data_Binding\Basic\Slider_and_Form_Fields" />
    <folder name="Data_Binding\Basic\Model_Validation" />
    <folder name="Data_Binding\Basic\Isolated_Child_Sessions" />
    <folder name="Data_Binding\Basic\Component_State" />
    <folder name="Data_Binding\Basic\Chaining_Selection" />
    <folder name="Data_Binding\Basic\Chained_Combos" />
    <folder name="Data_Binding\Basic\Associations" />
    <folder name="DataView\ComponentView\Overview" />
    <folder name="DataView\Basic\Overview" />
    <folder name="DataView\Advanced\Animated" />
    <folder name="Combination_Samples\Applications\Word_Wrench" />
    <folder name="Combination_Samples\Applications\Simple_Tasks" />
    <folder name="ColorPicker\Advanced\Components" />
    <folder name="Chart\Scatter\Renderer" />
    <folder name="Chart\Scatter\Custom_Icons" />
    <folder name="Chart\Scatter\Bubble" />
    <folder name="Chart\Radar\Fill" />
    <folder name="Chart\Pie\Renderer" />
    <folder name="Chart\Pie\Basic" />
    <folder name="Chart\Pie\3D" />
    <folder name="Chart\Misc\VerticalMarker" />
    <folder name="Chart\Misc\ToolTips" />
    <folder name="Chart\Misc\Reload" />
    <folder name="Chart\Misc\Merge_Two_Charts" />
    <folder name="Chart\Misc\Download" />
    <folder name="Chart\Misc\Captions" />
    <folder name="Chart\Live\Updates" />
    <folder name="Chart\Live\Animated" />
    <folder name="Chart\Line\Spline" />
    <folder name="Chart\Line\Renderer" />
    <folder name="Chart\Line\Plot" />
    <folder name="Chart\Line\Multiple_Axes" />
    <folder name="Chart\Line\Mixed" />
    <folder name="Chart\Line\Markers" />
    <folder name="Chart\Line\Marked_Spline" />
    <folder name="Chart\Line\Image_Markers" />
    <folder name="Chart\Line\CrossZoom" />
    <folder name="Chart\Line\Basic" />
    <folder name="Chart\Financial\OHLC" />
    <folder name="Chart\Financial\Candlestick" />
    <folder name="Chart\Combination\Pareto" />
    <folder name="Chart\Combination\Infographic" />
    <folder name="Chart\Combination\Binding_Tabs" />
    <folder name="Chart\Column\Stacked_100" />
    <folder name="Chart\Column\Stacked" />
    <folder name="Chart\Column\Renderer" />
    <folder name="Chart\Column\MultiAxis" />
    <folder name="Chart\Column\Limit" />
    <folder name="Chart\Column\Gradients" />
    <folder name="Chart\Column\Basic" />
    <folder name="Chart\Column\3D" />
    <folder name="Chart\Bar\Stacked_100" />
    <folder name="Chart\Bar\Stacked" />
    <folder name="Chart\Bar\Renderer" />
    <folder name="Chart\Bar\Grouped" />
    <folder name="Chart\Bar\3D" />
    <folder name="Chart\Area\Stacked_100" />
    <folder name="Chart\Area\Stacked" />
    <folder name="Chart\Area\Basic" />
    <folder name="Buttons\ButtonGroup\Overview" />
    <folder name="Buttons\Basic\SegmentedButton" />
    <folder name="Buttons\Basic\Overview" />
    <folder name="Buttons\Basic\Default_Button" />
    <folder name="Associations\HasMany\Nested_Loading" />
    <folder name="Associations\HasMany\Lazy_Load" />
    <folder name="Viewport\Basic\Built_in_CodeBehind" />
    <folder name="Layout\TableLayout\Simple_in_CodeBehind" />
    <folder name="Layout\BorderLayout\Complex_in_CodeBehind" />
    <folder name="GridPanel\Infinite_Scrolling\Remote_Filter" />
  </updated>

  <!--
  <new version="5.1.0">
    <folder name="GridPanel\Data_Presentation\MultiCombo_Map" />
    <folder name="GridPanel\FilterHeader\Buffered_Local_Sql" />
    <folder name="GridPanel\FilterHeader\Infinite_Remote_Sql" />
  </new>
  -->

  <!--
  <updated version="5.1.0">
    <folder name="TreePanel\List\Simple" />
    <folder name="TreePanel\List\Overview" />
    <folder name="TreePanel\List\Built_in_Markup" />
    <folder name="TreePanel\List\Built_in_CodeBehind" />
    <folder name="Miscellaneous\Responsive\Basic" />
    <folder name="Getting_Started\Introduction\Component_Overview" />
  </updated>
  -->

  <!--
  <updated version="5.0.0">
    <!- Too many examples tagged with 'updated'. It was decided to leave them
         without the tag.
    <folder name="GridPanel\Paging_and_Sorting\DirectMethod" />
    <folder name="GridPanel\ColumnModel\WidgetColumn" />
    <folder name="Form\HtmlEditor\Basic" />
    <folder name="Events\DirectMethods\Overview" />
    <folder name="Draw\Basic\Tiger" />
    <folder name="Draw\Basic\Rotate_Text" />
    <folder name="TabPanel\Plugin\TabCloseMenu" />
    <folder name="TreePanel\List\Built_in_Markup" />
    <folder name="TreePanel\Basic\SiteMap" />
    <folder name="TreePanel\Basic\Editors" />
    <folder name="TreePanel\Basic\DragDrop_Between_Trees" />
    <folder name="TreePanel\Basic\Checkbox_Nodes" />
    <folder name="TreePanel\Basic\Built_in_Markup" />
    <folder name="TreePanel\Basic\Built_in_CodeBehind" />
    <folder name="TreePanel\Advanced\Remote_Mode_with_Service" />
    <folder name="TreePanel\Advanced\Remote_Mode" />
    <folder name="TreePanel\Advanced\Image_Organizer" />
    <folder name="TreePanel\Advanced\Component_Column" />
    <folder name="TreePanel\Advanced\Command_Column" />
    <folder name="Toolbar\Plugins\ToolbarDroppable" />
    <folder name="Toolbar\Menu\Toolbar_Overflow" />
    <folder name="Toolbar\Menu\Toolbar_ButtonGroup" />
    <folder name="TabPanel\Basic\Ajax_Load" />
    <folder name="Portal\Basic\Simple" />
    <folder name="Miscellaneous\RTL\Overview" />
    <folder name="Miscellaneous\Image\Resizable" />
    <folder name="Kitchen_Sink\Windows\Basic_Window" />
    <folder name="Kitchen_Sink\TabPanels\Plain_TabPanel" />
    <folder name="Kitchen_Sink\TabPanels\Icon_Tabs" />
    <folder name="Kitchen_Sink\TabPanels\Framed_TabPanel" />
    <folder name="Kitchen_Sink\TabPanels\Basic_TabPanel" />
    <folder name="Kitchen_Sink\Panels\Framed_Panel" />
    <folder name="Kitchen_Sink\Panels\Basic_Panel" />
    <folder name="Kitchen_Sink\Forms\Register" />
    <folder name="GridPanel\Update\AutoSave" />
    <folder name="GridPanel\Infinite_Scrolling\Tuner" />
    <folder name="GridPanel\Data_with_Details\Form_Details" />
    <folder name="Getting_Started\Introduction\Component_Overview" />
    <folder name="Form\Miscellaneous\Registration_Form" />
    <folder name="Form\DropDownField\ValueText_Mode" />
    <folder name="Form\DropDownField\Overview" />
    <folder name="DragDrop\Tree\Tree_to_Div" />
    <folder name="DragDrop\Grid\Grid_to_Tree" />
    <folder name="Data_Binding\Basic\Two_Way_Formulas" />
    <folder name="DataView\Advanced\Animated" />
    <folder name="Combination_Samples\Applications\Word_Wrench" />
    <folder name="Buttons\ButtonGroup\Overview" />
    <folder name="Associations\HasMany\Nested_Loading" />
    <folder name="GridPanel\Plugins\CellEditing" />
    <folder name="GridPanel\Paging_and_Sorting\XML_WebService" />
    <folder name="GridPanel\Paging_and_Sorting\Multiple_Sorting_Local" />
    <folder name="GridPanel\Paging_and_Sorting\JSON_WebService" />
    <folder name="GridPanel\Paging_and_Sorting\Handler" />
    <folder name="GridPanel\Miscellaneous\XML_File_Loading" />
    <folder name="GridPanel\Miscellaneous\Json_Reader" />
    <folder name="GridPanel\Miscellaneous\JSONP_Proxy" />
    <folder name="GridPanel\Miscellaneous\Grouping" />
    <folder name="GridPanel\List_View\Overview" />
    <folder name="GridPanel\Infinite_Scrolling\Buffered_Scrolling" />
    <folder name="GridPanel\DataSource_Controls\XmlDataSource" />
    <folder name="GridPanel\Commands\Image_Command" />
    <folder name="GridPanel\Commands\Group_Command" />
    <folder name="GridPanel\Commands\Cell_Command" />
    <folder name="Chart\Combination\Dashboard" />
    <folder name="Chart\Scatter\Basic" />
    <folder name="Chart\Line\Renderer" />
    <folder name="Chart\Line\Plot" />
    <folder name="Chart\Line\Image_Markers" />
    <folder name="Chart\Line\Basic" />
    <folder name="Chart\Financial\OHLC" />
    <folder name="Chart\Financial\Candlestick" />
    <folder name="Chart\Combination\Binding_Tabs" />
    <folder name="Chart\Column\Renderer" />
    <folder name="Chart\Column\3D" />
    <folder name="Chart\Pie\3D" />
    <folder name="GridPanel\ColumnModel\TagColumn" />
    <folder name="TreePanel\Advanced\Locking_Buffer_Rendered_TreeGrid" />
    <folder name="GridPanel\Miscellaneous\Grouping_TotalRow" />
    <folder name="Form\Miscellaneous\Custom_Form" />
    <folder name="TabPanel\Basic\TabBar_Config" />
    <folder name="MessageBox\Notification\Overview" />
    <folder name="MessageBox\Notification\Client-Side_Notification" />
    <folder name="MessageBox\InfoPanel\Overview" />
    <folder name="Form\TextField\InputMask" />
    <folder name="Form\Field_Note\Overview" />
    <folder name="Form\DateField\Overview" />
    <folder name="Desktop\Introduction\Overview" />
    <folder name="Calendar\Overview\Remote_Data" />
    <folder name="Calendar\Overview\Basic" />
    <folder name="Miscellaneous\Responsive\Basic" />
    <folder name="GridPanel\Miscellaneous\Custom_UI" />
    <folder name="Miscellaneous\UI\Button" />
    <folder name="TreePanel\List\Simple" />
    <folder name="TreePanel\List\Overview" />
    <folder name="TreePanel\List\Built_in_CodeBehind" />
    ->
  </updated>

  <new version="5.0.0">
    <folder name="GridPanel\Data_Presentation\MultiCombo_Map" />
  </new>
  -->
  
  <!--
  <new version="4.8.2">
    <folder name="Miscellaneous\Store\ClientStore" />
    <folder name="GridPanel\Miscellaneous\FilterQuery" />
  </new>
  -->

  <!--
  <updated version="4.8.2">
    <folder name="GridPanel\Commands\Group_Command" />
    <folder name="GridPanel\Miscellaneous\Submit_to_Handler" />
    <folder name="GridPanel\Plugins\Selection_Memory" />
    <folder name="GridPanel\Selection_models\Checkbox_Selection" />
    <folder name="TreePanel\List\Simple" />
    <folder name="TreePanel\List\Overview" />
    <folder name="TreePanel\List\Built_in_Markup" />
    <folder name="TreePanel\List\Built_in_CodeBehind" />
  </updated>
  -->

  <!--
  <new version="4.8.1">
    <folder name="Miscellaneous\Store\ClientStore" />
    <folder name="GridPanel\Miscellaneous\FilterQuery" />
  </new>
  -->

  <!--
  <updated version="4.8.1">
    <folder name="GridPanel\Commands\Group_Command" />
    <folder name="GridPanel\Miscellaneous\Submit_to_Handler" />
    <folder name="GridPanel\Plugins\Selection_Memory" />
    <folder name="GridPanel\Selection_models\Checkbox_Selection" />
  </updated>
  -->

  <!--<new version="4.8.0">
    <folder name="Miscellaneous\Store\ClientStore" />
    <folder name="GridPanel\Miscellaneous\FilterQuery" />
  </new>

  <updated version="4.8.0">
    <folder name="TreePanel\List\Simple" />
    <folder name="TreePanel\List\Overview" />
    <folder name="TreePanel\List\Built_in_Markup" />
    <folder name="TreePanel\List\Built_in_CodeBehind" />
  </updated>
  -->

  <!--
  <updated version="4.7.1">
    <folder name="Form\ComboBox\Custom_Search" />

    <!- Keeping a manual selection from 4.7.0 ->
    <folder name="MessageBox\InfoPanel\Items" />
    <folder name="MessageBox\InfoPanel\Overview" />
  </updated>
  -->

  <!--
  <new version="4.7.1">
    <!- Keeping the new ones from 4.7.0 just to keep track ->
    <folder name="Miscellaneous\Gauge\Needles" />
    <folder name="Miscellaneous\Gauge\Custom" />
    <folder name="Miscellaneous\Gauge\Basic" />
    <folder name="TreePanel\List\Simple" />
    <folder name="TreePanel\List\Overview" />
    <folder name="TreePanel\List\Built_in_Markup" />
    <folder name="TreePanel\List\Built_in_CodeBehind" />
  </new>
  -->

  <!--
  <new version="4.7.0">
    <folder name="Miscellaneous\Gauge\Needles" />
    <folder name="Miscellaneous\Gauge\Custom" />
    <folder name="Miscellaneous\Gauge\Basic" />
    <folder name="TreePanel\List\Simple" />
    <folder name="TreePanel\List\Overview" />
    <folder name="TreePanel\List\Built_in_Markup" />
    <folder name="TreePanel\List\Built_in_CodeBehind" />
  </new>
  -->

  <!--
  <updated version="4.7.0">
    <folder name="MessageBox\InfoPanel\Items" />
    <folder name="TabPanel\Basic\TabBar_Config" />
    <folder name="MessageBox\Notification\Client-Side_Notification" />
    <folder name="MessageBox\InfoPanel\Overview" />
    <folder name="Getting_Started\Introduction\Component_Overview" />
    <folder name="Form\TextField\InputMask" />
    <folder name="Desktop\Introduction\Overview" />
    <folder name="Chart\Line\Image_Markers" />
  </updated>
  -->

  <!--
  <updated version="4.6.0">
    <folder name="Draw\Basic\Rotate_Image" />
    <folder name="GridPanel\FilterHeader\Mapped_Field_Filtering" />
  </updated>
  -->

  <!--
  <new version="4.5.0">
    <folder name="Form\TextField\InputMask_Native" />
  </new>
  -->

  <!--
  <updated version="4.5.0">
    <folder name="Form\TextField\InputMask" />
  </updated>
  -->

  <!--
  <updated version="4.4.1">
    <folder name="Form\Field_Note\Overview" />
    <folder name="Form\TextField\InputMask" />
  </updated>
  -->

  <!--
  <new version="4.4.0">
    <folder name="Chart\Misc\Captions" />
    <folder name="GridPanel\ArrayGrid\Keep_Page_on_Refresh" />
  </new>
  -->

  <!--
  <updated version="4.4.0">
    <folder name="Chart\Line\Image_Markers" />
    <folder name="GridPanel\Paging_and_Sorting\DirectMethod" />
    <folder name="GridPanel\ArrayGrid\ArrayWithPaging" />
    <folder name="GridPanel\ColumnModel\WidgetColumn" />
  </updated>
  -->

  <!--
  <updated version="4.3.0">
    <folder name="Keys\KeyMap\Map_Inside_Component" />
    <folder name="Calendar\Overview\Basic" />
    <folder name="Calendar\Overview\Remote_Data" />
    <folder name="Draw\Basic\Rotate_Text" />
    <folder name="Draw\Basic\Tiger" />
    <folder name="Events\DirectMethods\Overview" />
    <folder name="Form\HtmlEditor\Basic" />
    <folder name="Toolbar\Menu\MenuPanel" />
    <folder name="GridPanel\ColumnModel\WidgetColumn" />
    <folder name="GridPanel\Paging_and_Sorting\Local_Paging_with_Remote_Data" />
    <folder name="Form\Slider\Overview" />
    <folder name="GridPanel\Infinite_Scrolling\Overview" />
    <folder name="Form\DropDownField\ValueText_Mode" />
    <folder name="GridPanel\Plugins\GridFilters_Local" />
    <folder name="GridPanel\Plugins\GridFilters_Remote" />
  </updated>
  -->

  <!--
  <new version="4.2.2">
    <folder name="TabPanel\Plugin\TabCloseMenu" />
  </new>
  -->

  <!--
  <updated version="4.2.2">
    <folder name="ColorPicker\Advanced\Overview" />
    <folder name="GridPanel\Plugins\LiveSearch" />
    <folder name="Toolbar\StatusBar\Overview" />
    <folder name="GridPanel\Infinite_Scrolling\Buffered_Scrolling" />
    <folder name="GridPanel\Infinite_Scrolling\Overview" />
    <folder name="Chart\Column\Stacked" />
    <folder name="Chart\Area\Basic" />
    <folder name="Chart\Area\Stacked" />
    <folder name="Chart\Area\Stacked_100" />
    <folder name="Chart\Bar\Basic" />
    <folder name="Chart\Bar\Stacked" />
    <folder name="Chart\Bar\Stacked_100" />
    <folder name="Chart\Column\Stacked_100" />
    <folder name="Chart\Combination\Custom_Theme" />
    <folder name="Chart\Combination\Pareto" />
    <folder name="Chart\Line\Basic" />
    <folder name="Chart\Line\Markers" />
    <folder name="Chart\Radar\Basic" />
    <folder name="Chart\Radar\Marked" />
  </updated>
  -->

  <!--
  <new version="4.2.1">
    <folder name="TabPanel\Plugin\TabCloseMenu" />    
  </new>
  -->
  
  <!--
  <updated version="4.2.1">
    <folder name="Keys\Panel_Keys\Grid_Rows_Delete" />
    <folder name="Data_Binding\Basic\Chaining_Stores" />
    <folder name="Chart\Bar\3D" />
    <folder name="TreePanel\Basic\Custom_Drop_Logic" />
    <folder name="ColorPicker\Advanced\Overview" />
    <folder name="Form\DateField\Overview" />
    <folder name="Form\TextField\InputMask" />
    <folder name="TreePanel\Advanced\Filter" />
    <folder name="Form\Field_Note\Overview" />
  </updated>
  -->

  <!--
  <new version="4.2.0">
    <folder name="Window\Toast\Overview" />
    <folder name="Window\Toast\Playground" />
  </new>
  -->

  <!--
  <new version="4.0.0">
    <folder name="ColorPicker\Advanced\Components" />
    <folder name="ColorPicker\Advanced\GridPanel" />
    <folder name="ColorPicker\Advanced\Overview" />
    <folder name="GridPanel\Spreadsheet\Clipboard" />
    <folder name="GridPanel\Spreadsheet\Initial_Selection" />
    <folder name="GridPanel\Spreadsheet\Locking" />
    <folder name="GridPanel\Spreadsheet\Overview" />
    <folder name="GridPanel\Spreadsheet\Select_Programmatically" />
    <folder name="GridPanel\Spreadsheet\Submit" />
  </new>

  <updated version="4.0.0">
  </updated>

  <new version="3.3.0">
    <folder name="Chart\Bar\3D" />
    <folder name="Form\Login\Auto_Complete" />
  </new>

  <new version="3.1.0">
    <folder name="Kitchen_Sink\TabPanels\Header_Tabs" />
    <folder name="Layout\Center\Basic" />
  </new>

  <new version="3.0.0">
    <folder name="Action\Basic\Grid" />
    <folder name="Action\Basic\Simple" />
    <folder name="Buttons\Basic\SegmentedButton" />
    <folder name="Chart\Bar\Stacked_100" />
    <folder name="Chart\Column\3D" />
    <folder name="Chart\Column\Gradients" />
    <folder name="Chart\Column\Limit" />
    <folder name="Chart\Column\MultiAxis" />
    <folder name="Chart\Column\Renderer" />
    <folder name="Chart\Column\Stacked_100" />
    <folder name="Chart\Combination\Binding_Tabs" />
    <folder name="Chart\Combination\Custom_Theme" />
    <folder name="Chart\Combination\Infographic" />
    <folder name="Chart\Combination\Pareto" />
    <folder name="Chart\Financial\Candlestick" />
    <folder name="Chart\Financial\OHLC" />
    <folder name="Chart\Gauge\Basic_2" />
    <folder name="Chart\Line\CrossZoom" />
    <folder name="Chart\Line\Image_Markers" />
    <folder name="Chart\Line\Marked_Spline" />
    <folder name="Chart\Line\Markers" />
    <folder name="Chart\Line\Plot" />
    <folder name="Chart\Line\Renderer" />
    <folder name="Chart\Line\Spline" />
    <folder name="Chart\Pie\3D" />
    <folder name="Chart\Radar\Marked" />
    <folder name="Chart\Radar\MultiAxis" />
    <folder name="Chart\Scatter\Bubble" />
    <folder name="Chart\Scatter\Custom_Icons" />
    <folder name="Data_Binding\Basic\Associations" />
    <folder name="Data_Binding\Basic\Chained_Combos" />
    <folder name="Data_Binding\Basic\Chaining_Selection" />
    <folder name="Data_Binding\Basic\Chaining_Stores" />
    <folder name="Data_Binding\Basic\Component_State" />
    <folder name="Data_Binding\Basic\Dynamic" />
    <folder name="Data_Binding\Basic\Formulas" />
    <folder name="Data_Binding\Basic\Hello_World" />
    <folder name="Data_Binding\Basic\Isolated_Child_Sessions" />
    <folder name="Data_Binding\Basic\Model_Validation" />
    <folder name="Data_Binding\Basic\Slider_and_Form_Fields" />
    <folder name="Data_Binding\Basic\Two_Way" />
    <folder name="Data_Binding\Basic\Two_Way_Formulas" />
    <folder name="Events\DirectEvents\Duration_Messages" />
    <folder name="GridPanel\ColumnModel\HyperlinkColumn" />
    <folder name="GridPanel\ColumnModel\WidgetColumn" />
    <folder name="Form\DateField\Overview" />
    <folder name="Form\Miscellaneous\MultiSelector" />
    <folder name="Miscellaneous\Factory\Basic" />
    <folder name="Miscellaneous\Responsive\Basic" />
    <folder name="Miscellaneous\SparkLine\Basic" />
    <folder name="Toolbar\Breadcrumb\Overview" />
  </new>

  <updated version="3.0">
    <folder name="GridPanel\ColumnModel\Ajax_Configuration" />
  </updated>
  -->

  <!--<new version="2.5">
    <folder name="Buttons\Basic\LoadingState" />
    <folder name="Miscellaneous\UI\Button" />
    <folder name="Miscellaneous\UI\Panel" />
    <folder name="Miscellaneous\UI\ProgressBar" />
    <folder name="Miscellaneous\UI\TabPanel" />
    <folder name="Miscellaneous\UI\Tip" />
    <folder name="Miscellaneous\UI\Window" />
    <folder name="MessageBox\Badge\Custom_Appearance" />
    <folder name="MessageBox\Badge\Hidden_Container" />
    <folder name="MessageBox\Badge\Overview" />
    <folder name="MessageBox\Callout\Custom_Appearance" />
    <folder name="MessageBox\Callout\Delegation" />
    <folder name="MessageBox\Callout\Overview" />
    <folder name="MessageBox\Callout\Widget" />
    <folder name="MessageBox\InfoPanel\Container" />
    <folder name="MessageBox\InfoPanel\Items" />
    <folder name="MessageBox\InfoPanel\Overview" />
    <folder name="MessageBox\InfoPanel\Standard_Queues" />
    <folder name="MessageBox\InfoPanel\UI" />
  </new>-->

  <!--<new version="2.4">
    <folder name="Chart\Misc\Export_to_Server" />
    <folder name="Chart\Misc\Merge_two_Charts" />
    <folder name="Form\Tag\TagColumn" />
    <folder name="Form\Tag\TagField" />
    <folder name="Form\Tag\TagLabel" />
  </new>-->

  <!--<new version="2.3.0">
    <folder name="Form\MultiSelect\ItemSelector" />
    <folder name="Form\TextField\Advanced_Password_Mask" />
    <folder name="Form\Miscellaneous\Data_Binding" />
    <folder name="Gantt\Advanced\Calendars" />
    <folder name="Gantt\Advanced\Column_Filtering" />
    <folder name="Gantt\Advanced\Complex" />
    <folder name="Gantt\Advanced\Editing_Dependencies" />
    <folder name="Gantt\Advanced\Scheduling_Modes" />
    <folder name="Gantt\Advanced\Task_Editor" />
    <folder name="Gantt\Basic\Assigning_Resources" />
    <folder name="Gantt\Basic\BaseLine" />
    <folder name="Gantt\Basic\Buffered_Rendering" />
    <folder name="Gantt\Basic\Holidays_and_Working_Days" />
    <folder name="Gantt\Basic\Print" />
    <folder name="Gantt\Basic\Reorder" />
    <folder name="Gantt\Basic\RTL" />
    <folder name="Gantt\Basic\Simple" />
    <folder name="Gantt\Basic\Styles" />
    <folder name="GridPanel\ColumnModel\ProgressBarColumn" />
    <folder name="GridPanel\Data_Presentation\Server_Mapping" />
    <folder name="GridPanel\FilterHeader\Custom_Behaviour" />
    <folder name="GridPanel\FilterHeader\Custom_Field" />
    <folder name="GridPanel\FilterHeader\Overview" />
    <folder name="GridPanel\FilterHeader\Remote" />
    <folder name="GridPanel\Miscellaneous\Custom_Data_Binding" />
    <folder name="GridPanel\Plugins\GroupPaging" />
    <folder name="Miscellaneous\Template_Widget\Cache" />
    <folder name="Miscellaneous\Template_Widget\Overview" />
    <folder name="Miscellaneous\Template_Widget\Rendering" />
    <folder name="Scheduler\Advanced\BBC" />
    <folder name="Scheduler\Advanced\Charting" />
    <folder name="Scheduler\Advanced\Tree" />
    <folder name="Scheduler\Basic\Buffered_View" />
    <folder name="Scheduler\Basic\Column_Position" />
    <folder name="Scheduler\Basic\Column_Summary" />
    <folder name="Scheduler\Basic\Configuration" />
    <folder name="Scheduler\Basic\Custom_Header" />
    <folder name="Scheduler\Basic\Grouping" />
    <folder name="Scheduler\Basic\Orientation" />
    <folder name="Scheduler\Basic\Print" />
    <folder name="Scheduler\Basic\Scrolling_Programmatically" />
    <folder name="Scheduler\Basic\Validation" />
    <folder name="MultiUpload\Basic\Grid" />
    <folder name="MultiUpload\Basic\Overview" />
    <folder name="MultiUpload\Basic\Simple" />
    <folder name="TreePanel\Advanced\Buffer_Rendered_TreeGrid" />
    <folder name="TreePanel\Advanced\Locking_Buffer_Rendered_TreeGrid" />
  </new>-->

  <!--<new version="2.2">
    <folder name="Chart\Line\Multiple_Axes" />
    <folder name="Chart\Misc\VerticalMarker" />
    <folder name="Chart\Scatter\Basic" />
    <folder name="Chart\Scatter\Renderer" />
    <folder name="DataView\Advanced\Editing" />
    <folder name="DataView\ComponentView\Editor" />
    <folder name="DataView\ComponentView\Overview" />
    <folder name="DragDrop\Grid\Cell_to_Cell" />
    <folder name="Form\DisplayTime\DataView" />
    <folder name="Form\DisplayTime\Localize" />
    <folder name="Form\DisplayTime\Overview" />
    <folder name="Form\DisplayTime\Ranges" />
    <folder name="Form\TextField\Buttons" />
    <folder name="Getting_Started\Introduction\Installation" />
    <folder name="Getting_Started\Release_Documents\LICENSE" />
    <folder name="Getting_Started\Release_Documents\Sample_Web.config" />
    <folder name="GridPanel\ArrayGrid\ForceFit" />
    <folder name="GridPanel\ComponentColumn\Multiple_Editors" />
    <folder name="GridPanel\Data_Presentation\Meta_config" />
    <folder name="GridPanel\Data_Presentation\Meta_config_with_handler" />
    <folder name="GridPanel\Locking_Grid\Cell_Editing" />
    <folder name="GridPanel\Locking_Grid\GroupingSummary" />
    <folder name="GridPanel\Locking_Grid\GroupingSummary_with_group_headers" />
    <folder name="GridPanel\Locking_Grid\Infinite_Scrolling" />
    <folder name="GridPanel\Locking_Grid\Simple" />
    <folder name="GridPanel\Plugins\LiveSearch" />
    <folder name="Kitchen_Sink\Forms\Contact" />
    <folder name="Kitchen_Sink\Forms\Login" />
    <folder name="Kitchen_Sink\Forms\Register" />
    <folder name="Kitchen_Sink\GridPanels\Basic_GridPanel" />
    <folder name="Kitchen_Sink\GridPanels\Grouped_GridPanel" />
    <folder name="Kitchen_Sink\GridPanels\Grouped_Header_GridPanel" />
    <folder name="Kitchen_Sink\GridPanels\Locked_GridPanel" />
    <folder name="Kitchen_Sink\GridPanels\Property_GridPanel" />
    <folder name="Kitchen_Sink\GridPanels\Reconfigure_GridPanel" />
    <folder name="Kitchen_Sink\Panels\Basic_Panel" />
    <folder name="Kitchen_Sink\Panels\Framed_Panel" />
    <folder name="Kitchen_Sink\TabPanels\Basic_TabPanel" />
    <folder name="Kitchen_Sink\TabPanels\Framed_TabPanel" />
    <folder name="Kitchen_Sink\TabPanels\Icon_Tabs" />
    <folder name="Kitchen_Sink\TabPanels\Plain_TabPanel" />
    <folder name="Kitchen_Sink\Toolbars\Basic_Toolbar" />
    <folder name="Kitchen_Sink\Toolbars\Docked_Toolbar" />
    <folder name="Kitchen_Sink\TreePanels\Basic_TreePanel" />
    <folder name="Kitchen_Sink\Windows\Basic_Window" />
    <folder name="Miscellaneous\RTL\Overview" />
    <folder name="SignalR\Basic\StockTicker" />
    <folder name="TabPanel\Basic\Reorderable_Tabs" />
    <folder name="TabPanel\Basic\Side_Tabs" />
    <folder name="TabPanel\TabStrip\Side_Tabs" />
    <folder name="TaskManager\Basic\Poll_Server" />
    <folder name="TreePanel\Advanced\Command_Column" />
    <folder name="TreePanel\Advanced\Component_Column" />
    <folder name="TreePanel\Basic\Custom_Drop_Logic" />
    <folder name="XRender\UserControl\Lazy_Load" />
  </new>-->

  <!--
  <new version="2.0">
    <folder name="Buttons\Basic\Default_Button" />
    <folder name="Chart\Area\Basic\" />
    <folder name="Chart\Area\Browser_Stats\" />
    <folder name="Chart\Bar\Basic\" />
    <folder name="Chart\Bar\Grouped\" />
    <folder name="Chart\Bar\Mixed\" />
    <folder name="Chart\Bar\Renderer\" />
    <folder name="Chart\Bar\Stacked\" />
    <folder name="Chart\Column\Basic\" />
    <folder name="Chart\Column\Browser_Stats\" />
    <folder name="Chart\Dashboard\Basic\" />
    <folder name="Chart\Gauge\Basic\" />
    <folder name="Chart\Line\Basic\" />
    <folder name="Chart\Line\Mixed\" />
    <folder name="Chart\Live\Animated\" />
    <folder name="Chart\Live\Updates\" />
    <folder name="Chart\Misc\Reload\" />
    <folder name="Chart\Misc\ToolTips\" />
    <folder name="Chart\Pie\Basic\" />
    <folder name="Chart\Pie\Pie_Renderer\" />
    <folder name="Chart\Radar\Basic\" />
    <folder name="Chart\Radar\Fill\" />
    <folder name="Combination_Samples\Applications\Word_Wrench\" />
    <folder name="DataView\Advanced\Animated\" />
    <folder name="DataView\Advanced\Multi_sort\" />
    <folder name="DragDrop\Grid\Rows_Reordering\" />
    <folder name="Draw\Basic\Actions\" />
    <folder name="Draw\Basic\Animation\" />
    <folder name="Draw\Basic\Logos\" />
    <folder name="Draw\Basic\RotateText\" />
    <folder name="Draw\Basic\Rotate_Text\" />
    <folder name="Draw\Basic\Tiger\" />
    <folder name="Form\FieldContainer\Overview\" />
    <folder name="Form\NumberField\Overview\" />
    <folder name="Getting_Started\Introduction\SVN_Log\" />
    <folder name="GridPanel\Commands\Over_Commands\" />
    <folder name="GridPanel\ComponentColumn\Editor\" />
    <folder name="GridPanel\ComponentColumn\Overview\" />
    <folder name="GridPanel\ComponentColumn\Over_Editor\" />
    <folder name="GridPanel\ComponentColumn\Pin_Editor\" />
    <folder name="GridPanel\Data_with_Details\Binding\" />
    <folder name="GridPanel\Infinite_Scrolling\Buffered_Scrolling\" />
    <folder name="GridPanel\Infinite_Scrolling\Forum_topics\" />
    <folder name="GridPanel\Infinite_Scrolling\Overview\" />
    <folder name="GridPanel\Miscellaneous\JSONP_Proxy\" />
    <folder name="GridPanel\Miscellaneous\Transform_Grid\" />
    <folder name="GridPanel\Miscellaneous\XML_File_Loading_Custom\" />
    <folder name="GridPanel\Plugins\Summary\" />
    <folder name="Loaders\Component\Direct_Method\" />
    <folder name="Loaders\Component\Http_Handler\" />
    <folder name="Loaders\Component\JSON_WebService\" />
    <folder name="Loaders\Data\Overview\" />
    <folder name="MessageBus\Basic\Simple\" />
    <folder name="MessageBus\Basic\Complex\" />
    <folder name="Miscellaneous\Bin_HtmlBin\Overview\" />
    <folder name="Miscellaneous\Bin_HtmlBin\UserControl\" />
  </new>
  -->
  <!--
  <new version="1.0">
      <folder name="Getting_Started\Introduction\Component_Overview\" />
      <folder name="Events\DirectMethods\WebService\" />
      <folder name="Buttons\Basic\Variations\" />
      <folder name="Buttons\ButtonGroup\Overview\" />
      <folder name="Calendar\Overview\Basic\" />
      <folder name="Calendar\Overview\Remote_Data\" />
      <folder name="DataView\Advanced\Grouping\" />
      <folder name="DataView\Advanced\Report\" />
      <folder name="DragDrop\Advanced\Drag_with_State\" />
      <folder name="DragDrop\Advanced\Example1\" />
      <folder name="DragDrop\Advanced\Example2\" />
          <folder name="DragDrop\Advanced\Example3\" />
          <folder name="DragDrop\Advanced\DragTracker\" />
          <folder name="DragDrop\Advanced\Checkbox_Selector\" />
      <folder name="DragDrop\Basic\Example1\" />
      <folder name="DragDrop\Basic\Example2\" />
      <folder name="DragDrop\Basic\Example3\" />
      <folder name="DragDrop\Grid\Field_to_Grid\" />
      <folder name="DragDrop\Grid\Grid_to_FormPanel\" />
      <folder name="DragDrop\Grid\Grid_to_Grid1\" />
      <folder name="DragDrop\Grid\Grid_to_Grid2\" />
      <folder name="DragDrop\Grid\Grid_to_Tree\" />
      <folder name="DragDrop\Panel\Draggable_Panel\" />
      <folder name="DragDrop\Panel\Dropable_Panel\" />
      <folder name="DragDrop\Panel\Swap_Dropable_Panel\" />
      <folder name="DragDrop\Tree\Tree_to_Div\" />
      <folder name="Element\Basic\Overview\" />
          <folder name="Element\Basic\Layer\" />
          <folder name="Editor\Basic\FormPanel_Labels\" />
      <folder name="Form\ComboBox\MultiCombo\" />
      <folder name="Form\ComboBox\Overview\" />
          <folder name="Form\ComboBox\SelectBox\" />
          <folder name="Form\ComboBox\Linked_Combos_In_Grid\" />
          <folder name="Form\ComboBox\Two_Columns\" />
      <folder name="Form\DropDownField\Overview\" />
          <folder name="Form\DropDownField\ValueText_Mode\" />
      <folder name="Form\SpinnerField\Overview\" />
      <folder name="Form\TriggerField\Trigger_Icons\" />
      <folder name="Form\TriggerField\Trigger_with_Dialog_Editor\" />
      <folder name="Form\TextField\Password_Validation\" />
      <folder name="Form\CompositeField\Overview\" />
      <folder name="Form\Validation\Custom_VType\" />
      <folder name="Form\Validation\Remote_Validation\" />
      <folder name="GridPanel\ArrayGrid\DirectEvent_Creation\" />
      <folder name="GridPanel\ArrayGrid\Remote_Load\" />
      <folder name="GridPanel\ColumnModel\Change_Models\" />
      <folder name="GridPanel\ColumnModel\Column_Variations\" />
      <folder name="GridPanel\ColumnModel\RatingColumn\" />
      <folder name="GridPanel\Commands\Prepare_Commands\" />
      <folder name="GridPanel\Data_Presentation\Server_Mapping\" />
      <folder name="GridPanel\Data_Presentation\Grid_and_Store_Reconfigure\" />
      <folder name="GridPanel\Miscellaneous\Buffered_GridView\" />
      <folder name="GridPanel\Miscellaneous\Save_Filter\" />
      <folder name="GridPanel\Miscellaneous\LockingGridView\" />
      <folder name="GridPanel\Miscellaneous\ColumnHeaderGroup\" />
      <folder name="GridPanel\Miscellaneous\Grid_TotalRow\" />
      <folder name="GridPanel\Miscellaneous\Grouping_TotalRow\" />
      <folder name="GridPanel\Paging_and_Sorting\Handler\" />
      <folder name="GridPanel\Paging_and_Sorting\JSON_WebService\" />
      <folder name="GridPanel\Paging_and_Sorting\Local_Data_Paging\" />
      <folder name="GridPanel\Paging_and_Sorting\Local_Paging_with_Remote_Data\" />
      <folder name="GridPanel\Paging_and_Sorting\Multiple_Sorting_Local\" />
      <folder name="GridPanel\Paging_and_Sorting\Page\" />
      <folder name="GridPanel\Paging_and_Sorting\XML_WebService\" />
      <folder name="GridPanel\Plugins\RowEditor\" />
          <folder name="GridPanel\Plugins\EditableGrid\" />
      <folder name="GridPanel\RowExpander\Dynamic_GridPanels\" />
      <folder name="GridPanel\RowExpander\Dynamic_ListViews\" />
      <folder name="GridPanel\RowExpander\Local_Mode\" />
      <folder name="GridPanel\RowExpander\Shared_Component\" />
      <folder name="GridPanel\RowExpander\MultiLevel_GridPanel\" />
      <folder name="GridPanel\RowExpander\Remote_Mode\" />
      <folder name="GridPanel\System.Data\DataReader\" />
      <folder name="GridPanel\System.Data\DataTable\" />
          <folder name="GridPanel\Update\AutoSave\" />
          <folder name="GridPanel\Restful\Overview\" />
      <folder name="Layout\HBoxLayout\Basic\" />
      <folder name="Layout\VBoxLayout\Basic\" />
          <folder name="Layout\VBoxLayout\VBox_Form\" />
      <folder name="ListView\Basic\Overview\" />
      <folder name="Miscellaneous\ClickRepeater\Basic\" />
      <folder name="Miscellaneous\Debug\Client_Activation\" />
      <folder name="Miscellaneous\Debug\Ext_Debug_Console\" />
      <folder name="Miscellaneous\Debug\Firebug_Lite_Console\" />
      <folder name="Miscellaneous\FlashComponent\Basic\" />
      <folder name="Miscellaneous\Image\Pan\" />
      <folder name="Miscellaneous\Image\Resizable\" />
      <folder name="Miscellaneous\ToolTips\GridPanel_Row_Tooltip\" />
      <folder name="Miscellaneous\ToolTips\GridPanel_Cell_Tooltip\" />
      <folder name="Miscellaneous\Mouse_Distance_Sensor\Basic\" />
      <folder name="Miscellaneous\Mouse_Distance_Sensor\Events\" />
      <folder name="Panel\Basic\IFrame_Communication\" />
      <folder name="TabPanel\Basic\TabMenu\" />
      <folder name="TabPanel\GroupTabPanel\Overview\" />
      <folder name="TabPanel\TabStrip\Overview\" />
      <folder name="Toolbar\Menu\Layout_Toolbar\" />
      <folder name="Toolbar\Menu\Toolbar_ButtonGroup\" />
      <folder name="Toolbar\Menu\Toolbar_Overflow\" />
      <folder name="Toolbar\Menu\Toolbar_with_Menus\" />
      <folder name="Toolbar\Menu\Menu_Layout\" />
          <folder name="Toolbar\Menu\Flat_Toolbar\" />
      <folder name="Toolbar\Menu\Top_Menu\" />
          <folder name="Toolbar\Menu\Toolbar_Switcher\" />
      <folder name="TreePanel\Advanced\ColumnTree\" />
          <folder name="TreePanel\Advanced\TreeGrid\" />
      <folder name="TreePanel\Advanced\Filter\" />
      <folder name="TreePanel\Advanced\Image_Organizer\" />
      <folder name="TreePanel\Advanced\Remote_Mode\" />
      <folder name="TreePanel\Basic\Checkbox_Nodes\" />
      <folder name="TreePanel\Basic\DragDrop_Between_Trees\" />
      <folder name="TreePanel\Basic\Editors\" />
      <folder name="TreePanel\Basic\Reorder_Nodes\" />
      <folder name="TreePanel\Basic\Submit\" />
      <folder name="XRender\Basic\Add_Items\" />
      <folder name="XRender\Basic\New_Window\" />
          <folder name="XRender\Basic\Overview\" />
      <folder name="XRender\Advanced\Parent_Add_Children\" />
      <folder name="XRender\UserControl\UpdateContent\" />
      <folder name="Combination_Samples\Applications\Feed_Viewer\" />
          <folder name="Combination_Samples\Applications\Simple_Tasks\" />
      <folder name="ASP.NET_MVC\Applications\Northwind\" />
      <folder name="Panel\Miscellaneous\Bubble_Panel\" />
  </new>
  -->
  <!--
  <new version="0.8">
      <folder name="Events\DirectMethods\Exceptions\" />
      <folder name="Events\DirectMethods\UserControls\" />
          <folder name="Miscellaneous\XTemplate\Overview\" />
          <folder name="Miscellaneous\Spotlight\Ajax_Overview\" />
          <folder name="Miscellaneous\Spotlight\Overview\" />
          <folder name="GridPanel\MultiHeader\Overview\" />
          <folder name="GridPanel\MultiHeader\Filter\" />
          <folder name="GridPanel\Commands\Basic_Row_Command\" />
          <folder name="GridPanel\Commands\Cell_Command\" />
          <folder name="GridPanel\Commands\Group_Command\" />
          <folder name="GridPanel\Commands\Image_Command\" />
          <folder name="GridPanel\Commands\Menu_Row_Command\" />
          <folder name="GridPanel\Commands\Prepare_Toolbar\" />
          <folder name="GridPanel\Miscellaneous\Submit_Two_Grids\" />
          <folder name="Layout\CardLayout\Basic\" />
          <folder name="Miscellaneous\Locale\Basic\" />
          <folder name="Miscellaneous\Locale\Predefined_Language\" />
          <folder name="Miscellaneous\Locale\User_Language\" />
          <folder name="Form\Miscellaneous\Form_View\" />
          <folder name="Form\Miscellaneous\Edit_Form_View\" />
          <folder name="GridPanel\Data_Representation\Data_Prepare\" />
          <folder name="GridPanel\Data_Representation\Editor_Field_Mapping\" />
          <folder name="GridPanel\Data_Representation\Field_Converter\" />
          <folder name="GridPanel\Data_Representation\Field_Mapping\" />
          <folder name="Buttons\Basic\ImageButton\" />
          <folder name="Buttons\Basic\LinkButton\" />
          <folder name="Form\Label\Basic\" />
          <folder name="Form\HyperLink\Basic\" />
          <folder name="Miscellaneous\ProgressBar\Client_side_update\" />
          <folder name="Miscellaneous\ProgressBar\Server_side_update\" />
          <folder name="Form\TimeField\Overview\" />
          <folder name="Layout\AbsoluteLayout\Basic\" />
          <folder name="Layout\AbsoluteLayout\Absolute_Layout_Form\" />
          <folder name="Layout\AnchorLayout\Basic\" />
          <folder name="Layout\AnchorLayout\Anchor_With_Form\" />
          <folder name="Layout\ColumnLayout\Basic\" />
          <folder name="Panel\Basic\Deferred_Loading\" />
          <folder name="Miscellaneous\History\Basic\" />
          <folder name="Form\TriggerField\Custom_Icon\" />
          <folder name="Form\FormPanel\Basic\" />
          <folder name="Form\FormPanel\Validation\" />
          <folder name="Toolbar\StatusBar\Advanced\" />
          <folder name="ColorPalete\Basic\Custom_Colors\" />
          <folder name="ColorPalete\Basic\Custom_View\" />
          <folder name="ColorPalete\Basic\Overview\" />
          <folder name="MessageBox\Basic\Overview\" />
      <folder name="MessageBox\Basic\ButtonsConfig\" />
      <folder name="Notification\Basic\Overview\" />
          <folder name="Form\FileUploadField\Basic\" />
          <folder name="TreePanel\Basic\Refresh_Static_Tree\" />
          <folder name="Form\ComboBox\Items_Actions\" />
          <folder name="Editor\Basic\Overview\" />
          <folder name="Events\DirectMethods\ID_Mode\" />
          <folder name="Events\DirectMethods\Advanced\" />
          <folder name="MessageBox\Basic\ButtonsConfig\" />
          <folder name="Form\Field_Note\Overview\" />
          <folder name="Form\MultiField\Overview\" />
          <folder name="Toolbar\Menu\Flat_Toolbar\" />
          <folder name="Events\DirectMethods\Exceptions\" />
          <folder name="Events\DirectMethods\UserControls\" />
          <folder name="Form\MultiSelect\Submit_Data\" />
          <folder name="Panel\Basic\AutoLoad_MergeMode\" />
  </new>
  -->
</example>